/* color palette from <https://github.com/vuejs/theme> */
/*
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}
*/
/* semantic color variables for this project */

/*
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/gagalin');


/* Purple Color */
.purple-text-color-1 {
  color: #7000FF;
}

.purple-text-color-2 {
  color: #5A3A84;
}

.purple-text-color-3 {
  color: #5604BE;
}

.purple-background-color-1 {
  background-color: #7000FF;
}

.purple-background-color-2 {
  background-color: #5A3A84;
}

.purple-background-color-3 {
  background-color: #5604BE;
}

/* White and Black color */
.white-text-color-1 {
  color: #FFFFFF;
}

.grey-text-color-1 {
  color: #979797;
}

.black-text-color-1 {
  color: #040404;
}

.white-background-color-1 {
  background-color: #FFFFFF;
}

.grey-background-color-1 {
  background-color: #979797;
}

.black-background-color-1 {
  background-color: #040404;
}

.transparent-background {
  background-color: transparent;
}

/* Blue color */
.blue-text-color-1 {
  color: #50AED6;
}

.blue-background-color-1 {
  background-color: #50AED6;
}

/*------*/
/* Font */
.font-gagalin {
  font-family: Gagalin;         /* Gagalin */
  font-weight: 100;
}

.font-regular-regular {         /* Inter */
  font-family: Inter;
  font-weight: 400;
}

.font-oswald-light {            /* Oswald*/
  font-family: Oswald;
  font-weight: 300;
}

.font-oswald-regular {
  font-family: Oswald;
  font-weight: 400;
}

.font-oswald-medium {
  font-family: Oswald;
  font-weight: 500;
}

.font-oswald-semibold {
  font-family: Oswald;
  font-weight: 600;
}

.font-oswald-bold {
  font-family: Oswald;
  font-weight: 700;
}